torch>=2.0,<2.1
zarr>=2.14.2
cython>=0.29
h5py>=3.8
tensorboard>=2.12.2
albumentations>=1.3
omegaconf>=2.3
hydra-core >=1.3
imageio>=2.27
ipython>=8.12
matplotlib>=3.7.1
numpy>=1.23
pandas>=2.0
pillow>=9.5
pyyaml>=6.0
scikit-image>=0.20
scikit-learn>=1.2.2
scipy>=1.10
seaborn>=0.12.2
wandb>=0.14.2
moviepy>=1.0.2,<2.0
setuptools>=67.6
tqdm>=4.65
typing_extensions>=4.5
# napari # TODO: constrain

randomname
plotly
zmesh

## daisy @ git+https://github.com/funkelab/daisy.git@5d0e6c9abbab6a86990d58b3e00ac4332a8ced46
## ^ This is the revision in the singularity container but it has a bug in the mongodb graph access ("too old")
## daisy @ git+https://github.com/funkelab/daisy.git@1dd40ecb7f0ed75ff6ad4abe7e75f41ceda2d782
## ^ has removed separate node_attribute_collections support in MongoDBGraphProvider ("too new")
# So to get everything to work with one daisy version, use my fork that has the fix for the mongodb graph access while retaining node_attribute_collections support:
daisy @ git+https://github.com/mdraw/daisy.git@3e77076329758de8e6f480e88cb8a9e4eba22ef9

funlib.evaluate @ git+https://github.com/funkelab/funlib.evaluate.git@d2852b355910ee8081d0f6edc787c80cb94db909

# Use my own forks of these libraries because they contain necessary fixes.
lsds @ git+https://github.com/mdraw/lsd.git@fix-fragment-agglo
waterz @ git+https://github.com/mdraw/waterz.git@80d5f0dd21d84f236371f3dbee9a49fab616168c
gunpowder @ git+https://github.com/mdraw/gunpowder.git@2702ef294bf40ff9aa687df48b95c66288710ab7

# For some training functions
elektronn3 @ git+https://github.com/ELEKTRONN/elektronn3.git@01e55c5e9d6baf7da9dbcf790d68deff1132a8db

funlib.segment @ git+https://github.com/funkelab/funlib.segment.git@09246e7aed32210747800906846d03788ca10b81


# For neuroglancer viewer:
funlib.persistence @ git+https://github.com/funkelab/funlib.persistence.git@c88ac481b4e822557b3da0f56a6aa00c6efc7f65
# Use fixed branch from trivoldus28's fork instead of my own branch because it's effectively the same fix in there.
funlib.show.neuroglancer @ git+https://github.com/trivoldus28/funlib.show.neuroglancer.git@acd5a3ae0c93eac35ea47863761a8cc3179eb6ec



# # For knossos dataset conversion to zarr (only needed once, so it's commented out)
# knossos_utils @ git+https://github.com/knossos-project/knossos_utils.git@737c51ad4cc8dba82a7fbdb1e311c427aac540a8

# # For cloudvolume dataset conversion to zarr (only needed once, so it's commented out)
# cloud-volume
